.cf:before,
.cf:after {
  *zoom: 1; }
  .cf:before,
  .cf:after {
    content: " ";
    display: table; }
  .cf:after {
    clear: both; }

/* Fluid Grid
-----------------
*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] {
  cursor: default; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
body {
  width: 100%;
  float: left; }

body {
  font: 100%/1.5 "Open Sans", sans-serif;
  color: #011F40; }

/* HEADINGS */
h1, h2, h3, h4, h5 {
  font-family: "Roboto Slab", serif;
  color: #5f5f5f; }

h1 {
  margin: 0 0 10px 0;
  font-weight: 100;
  line-height: 1;
  font-size: 60px; }

h3, h2 {
  font-weight: 100; }

h3 {
  font-size: 30px; }

/* PARAGRAPH */
p, li {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #5f5f5f; }

a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none; }
  a, a:visited, a:active {
    color: #fcc42e; }
  a:hover {
    color: #505050;
    text-decoration: none; }

/* LISTS */
ul {
  padding: 0;
  list-style: none; }

.main-content ul {
  padding: 0 0 0 30px;
  list-style: disc; }

.mainnav {
  z-index: 1000;
  width: 100%;
  padding: 2em 0 4em;
  position: fixed;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .mainnav ul {
    float: right; }
    .mainnav ul li {
      float: left; }
      .mainnav ul li a {
        padding: 1em;
        font-size: 14px;
        color: #5f5f5f; }
        .mainnav ul li a:hover {
          color: #fcc42e; }

.scroll .mainnav {
  background-color: white;
  padding: 1em 0; }

/* Animations */
.left-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: left-fast;
  -moz-animation-name: left-fast;
  animation-name: left-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.right-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: right-fast;
  -moz-animation-name: right-fast;
  animation-name: right-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.roll-in-left {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: roll-in-left;
  -moz-animation-name: roll-in-left;
  animation-name: roll-in-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.up {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: up;
  -moz-animation-name: up;
  animation-name: up;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.down {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: down;
  -moz-animation-name: down;
  animation-name: down;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.fade-in {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.delay {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

.delay2 {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s; }

/* KEYFRAMES */
@-webkit-keyframes $animation_name {
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px; }
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-moz-keyframes $animation_name {
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px; }
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-o-keyframes $animation_name {
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px; }
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@keyframes $animation_name {
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px; }
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-webkit-keyframes $animation_name {
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px; }
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-moz-keyframes $animation_name {
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px; }
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-o-keyframes $animation_name {
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px; }
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@keyframes $animation_name {
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px; }
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-webkit-keyframes roll-in-left {
  0% {
    opacity: 0;
    margin-left: -500px;
    -webkit-transform: rotateX(550deg); }
  100% {
    opacity: 1; } }
@-webkit-keyframes $animation_name {
  0% {
    bottom: -185px; }
  100% {
    bottom: 0px; } }
@-moz-keyframes $animation_name {
  0% {
    bottom: -185px; }
  100% {
    bottom: 0px; } }
@-o-keyframes $animation_name {
  0% {
    bottom: -185px; }
  100% {
    bottom: 0px; } }
@keyframes $animation_name {
  0% {
    bottom: -185px; }
  100% {
    bottom: 0px; } }
@-webkit-keyframes $animation_name {
  0% {
    bottom: 0px; }
  100% {
    bottom: -185px; } }
@-moz-keyframes $animation_name {
  0% {
    bottom: 0px; }
  100% {
    bottom: -185px; } }
@-o-keyframes $animation_name {
  0% {
    bottom: 0px; }
  100% {
    bottom: -185px; } }
@keyframes $animation_name {
  0% {
    bottom: 0px; }
  100% {
    bottom: -185px; } }
@-webkit-keyframes $animation_name {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=1); } }
@-moz-keyframes $animation_name {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=1); } }
@-o-keyframes $animation_name {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=1); } }
@keyframes $animation_name {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=1); } }
/* SENCHA ANIMATIONS */
/* Contact Form */
.main-form {
  position: relative; }

.main-form:before,
.main-form:after {
  content: " ";
  display: table; }

.main-form:after {
  clear: both; }

.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  color: #5f5f5f; }

.main-form input,
.main-form textarea,
.main-form select {
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-size: 14px;
  padding: 0 10px;
  height: 90px;
  border-radius: 0;
  color: #5f5f5f;
  display: block;
  width: 100%;
  background: #ebebeb; }

.main-form input,
.main-form textarea {
  border: 0px;
  padding: 1em;
  box-shadow: none; }

.main-form textarea {
  min-height: 200px; }

.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid #5f5f5f; }

.main-form select:focus {
  outline: none; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(150, 119, 35, 0.8) !important;
  font-style: italic; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(150, 119, 35, 0.8) !important;
  font-style: italic; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(150, 119, 35, 0.8) !important;
  font-style: italic; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fcc42e !important;
  font-style: italic; }

.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both; }

.main-form input.button {
  border-radius: 90px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: inline-block;
  margin: 1em 0;
  margin-right: 1em;
  padding: 1em 2.5em;
  background: #fcc42e;
  color: white;
  width: auto; }

.main-form input.cbp-mc-submit:hover {
  background: #fcc42e; }

#nospam, .nospam {
  display: none; }

.thumbs {
  width: 47%;
  margin: 1%;
  float: left; }
  .thumbs img {
    width: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }
  .lt-ie9 img {
    width: auto; }

body {
  padding: 0;
  margin: 0; }

/* MAIN */
section {
  padding: 3em 1em; }

.wrap {
  max-width: 960px;
  margin: auto; }
  .wrap:before, .wrap:after {
    content: "";
    display: table; }
  .wrap:after {
    clear: both; }

.interior .hero {
  padding-top: 10em; }
.interior section {
  border-top: solid 1px #d2d2d2; }

.product-nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 2em; }
.product-nav a {
  color: #949393; }
  .product-nav a:hover {
    color: #fcc42e; }
  .product-nav a:before {
    margin-right: 1em; }

.yellow {
  background-color: #fcc42e; }
  .yellow * {
    color: white; }
  .yellow .main-form input, .yellow .main-form textarea {
    background-color: white; }
  .yellow .main-form input[type="submit"] {
    background: #fcc42e;
    border-color: white;
    border: solid 1px white;
    padding: 1em 3em;
    height: auto; }
    .yellow .main-form input[type="submit"]:hover {
      background: white;
      color: #fcc42e; }

.hero {
  padding-top: 10em;
  position: relative;
  text-align: center; }
  .hero .row-fluid {
    z-index: 10;
    position: relative; }
  .hero .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-color: #fafafa;
    visibility: hidden; }
  .hero h1 h1 {
    font-size: 20px; }
  .hero h1 span {
    color: #40baf1; }
  .hero h3 {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.4; }

.callouts {
  padding: 0;
  background: #fff url("/resources/img/callouts-bg.jpg") no-repeat;
  background-size: cover;
  text-align: center; }
  .callouts * {
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }
  .callouts .col2 {
    padding: 2em;
    margin: 0 !important;
    border-bottom: solid 1px #5f5f5f;
    width: 100%; }
    .callouts .col2:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .callouts .col2:nth-child(1n) {
      margin-right: 0;
      margin-bottom: 0; }
    .callouts .col2 span {
      font-weight: 800;
      color: #fcc42e; }
    .callouts .col2:hover {
      background: rgba(252, 196, 46, 0.8); }
      .callouts .col2:hover h3, .callouts .col2:hover p, .callouts .col2:hover span {
        color: white; }
      .callouts .col2:hover .button {
        background-color: white;
        border-color: white;
        color: #fcc42e; }
        .callouts .col2:hover .button:hover {
          color: white;
          background-color: transparent; }

.testimonial {
  display: none;
  background-size: cover;
  padding-top: 8em;
  padding-bottom: 8em; }
  .testimonial .quoteContain {
    width: 60%;
    position: relative; }
  .testimonial h2:before, .testimonial h2:after {
    color: #40baf1;
    font-size: 90px;
    display: inline-block;
    position: absolute;
    font-family: helvetica;
    font-weight: 800; }
  .testimonial h2:before {
    content: "\201c";
    left: -60px; }
  .testimonial h2:after {
    content: "\201d";
    right: -40px; }

.main-content p span {
  font-weight: 800;
  color: #fcc42e; }

/* FOOTER */
footer {
  background: #f2f3f5; }
  footer .main-footer {
    padding: 1em 2em; }
  footer .contact-info p, footer .contact-info a {
    font-size: 14px; }
  footer .contact-info p {
    margin: 1em 0 0; }
  footer .logo {
    margin-bottom: 1em;
    display: inline-block;
    width: 90%; }
  footer [class*="ico"]:before {
    color: #fcc42e; }
  footer p, footer a {
    font-size: 12px;
    color: #949393; }
  footer a, footer a:visited {
    margin-bottom: 0;
    color: #949393; }
    footer a:hover, footer a:visited:hover {
      color: #fcc42e; }
  footer * {
    line-height: 1; }
  footer h3 {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 0; }
  footer hr {
    margin: 10px 0; }
  footer ul {
    margin: 0;
    padding: 0; }
    footer ul li {
      margin-bottom: 5px; }
  footer .bottom-bar {
    background: #fcc42e;
    display: none; }
    footer .bottom-bar .wrap * {
      line-height: 1;
      margin: 0;
      color: #c09010; }
    footer .bottom-bar ul {
      text-align: center; }
    footer .bottom-bar li {
      float: left;
      padding: 1em 2em; }
      footer .bottom-bar li:first-child {
        padding-left: 0; }
        footer .bottom-bar li:first-child p {
          padding: 16px 0; }

/* BUTTONS */
.button {
  border-radius: 90px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: inline-block;
  margin: 1em 0;
  margin-right: 1em;
  padding: 1em 2.5em;
  background: #fcc42e;
  color: white;
  border: solid 1px #fcc42e; }
  .button:visited, .button.active {
    color: white; }
  .button:hover {
    background-color: transparent;
    color: #fcc42e; }

.button.blue {
  border-radius: 90px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: inline-block;
  margin: 1em 0;
  margin-right: 1em;
  padding: 1em 2.5em;
  background: #40baf1;
  color: white;
  border: solid 1px #40baf1; }
  .button.blue:hover {
    background-color: transparent;
    color: #40baf1; }

[class*="ico"]:before {
  margin-right: 5px; }

.interior .content {
  background-position: top left;
  background-repeat: no-repeat; }

.benefits {
  background-image: url("/resources/img/leaf-bg.png"); }

.reports {
  background-image: url("/resources/img/paper-bg.png");
  text-align: center; }
  .reports ul {
    list-style: none;
    margin: 2em 0;
    padding: 0; }
    .reports ul li {
      width: 100%;
      margin-bottom: 1em;
      float: left;
      position: relative;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all; }
      .reports ul li a {
        padding: 10em 3em;
        display: inline-block;
        width: 100%;
        position: relative;
        z-index: 10;
        background: transparent url("/resources/img/reports-bg.png") no-repeat center;
        background-size: 70%; }
      .reports ul li .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
        z-index: 12;
        background: rgba(255, 255, 255, 0.8); }
        .reports ul li .overlay span {
          position: absolute;
          top: 50%;
          font-size: 60px;
          left: 50%;
          margin-left: -8%;
          margin-top: -8%;
          color: #fcc42e; }

.demo {
  background-image: url("/resources/img/cog-bg.png"); }

.col2 {
  width: 49%;
  float: left; }
  .col2:nth-child(n) {
    margin-bottom: 2%;
    margin-right: 2%; }
  .col2:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0; }

@media (min-width: 400px) {
  .test {
    text-decoration: underline; } }
@media (min-width: 480px) {
  section {
    padding: 2em 0; } }
@media (min-width: 768px) {
  section {
    padding: 3em 2em; }

  footer .main-footer {
    padding: 3em 2em; }

  .hero .background {
    visibility: visible; }

  .interior .hero {
    padding-top: 10em; }

  .hero {
    padding-top: 10em; }
    .hero h1 span {
      color: #40baf1; }
    .hero h3 {
      font-size: 29px;
      font-weight: 100; }

  .product-nav {
    border-right: solid 1px #d2d2d2; }
    .product-nav ul {
      text-align: left; }

  .reports ul {
    margin: 4em 0; }
    .reports ul li {
      box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
      width: 32%;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all; }
      .reports ul li:nth-child(n) {
        margin-bottom: 2%;
        margin-right: 2%; }
      .reports ul li:nth-child(3n) {
        margin-right: 0;
        margin-bottom: 0; }
      .reports ul li .background {
        position: absolute;
        width: 100%;
        height: 112%;
        top: -6%;
        left: 0; }
      .reports ul li:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); }
        .reports ul li:hover .background {
          background: white; }
        .reports ul li:hover a .overlay {
          display: block; }

  .bottom-bar {
    display: inline-block; }
    .bottom-bar li {
      border-right: solid 1px #967723; }
      .bottom-bar li:last-child {
        border-right: 0; }

  .callouts .col2 {
    padding: 4em;
    border-bottom: 0;
    width: 50%; }
    .callouts .col2:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .callouts .col2:nth-child(2n) {
      margin-right: 0;
      margin-bottom: 0; }

  .about {
    background: #fff url("/resources/img/about-bg.jpg") no-repeat right -40px;
    background-size: auto 150%; }

  .testimonial {
    display: block; } }
@media (min-width: 940px) {
  section {
    padding: 5em 0; }

  footer .main-footer {
    padding: 3em 0; }

  .callouts .col2 {
    padding: 8em;
    border-bottom: 0; } }
/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x";
} */

/*# sourceMappingURL=base.css.map */
