section {
	padding:3em 2em;
}

footer {
	.main-footer {
	padding:3em 2em;
}
}

.hero  {
	.background {
		visibility:visible;
	}
}


.interior {
  .hero {
    padding-top: 10em;
  }
}


  .hero {
  padding-top: 10em;

  h1 {
    span {
      color:$blue;
    }
  }
  h3 {
    font-size: 29px;
    font-weight: 100;
  }
}


.product-nav {
  border-right: solid 1px $ultralight;
  ul {
  	text-align: left;
  }
  
}


.reports {
  
  ul {
    margin:4em 0;
    li {
        box-shadow: 0 0 0px rgba(black, .3);
        @include rowGrid(3, 2%);

      .background {
        position: absolute;
        width: 100%;
        height: 112%;
        top: -6%;
        left: 0;
      }
      
      @include transition(.3s all);
      &:hover {
      	.background {
      		background: white;
      	}
        a {
        .overlay {
          display: block;
        }
      }
        
        box-shadow: 0 0 30px rgba(black, .3);

      }
    }
  }
}

.bottom-bar {
	display: inline-block;
	li {
		border-right: solid 1px $darkYellow;
		&:last-child {
			border-right: 0;
		}
	}
}



.callouts {
  
  .col2 {
    padding:4em;
    border-bottom: 0;
    @include rowGrid(2, 0);
    
  }
}

.about {
  background:#fff url('/resources/img/about-bg.jpg') no-repeat right -40px;
  background-size:auto 150% ;
}

.testimonial {
	display: block;
}
