/* Contact Form */
.main-form {
  position: relative;
}

.main-form:before, 
.main-form:after { 
  content: " "; display: table; 
}

.main-form:after { 
  clear: both; 
}



.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: $heading;
  color:$primary;
}

.main-form input,
.main-form textarea,
.main-form select {
  font-family: $heading;
  line-height: 1.5;
  font-size: 14px;
  padding:0 10px;
  height:90px;
  border-radius:0;
  color: $primary;
  display: block;
  width: 100%;
  background: #ebebeb;
}

.main-form input,
.main-form textarea {
  border: 0px;
  padding:1em;
  box-shadow:none;
}

.main-form textarea {
  min-height: 200px;
}

.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid $primary;
}

.main-form select:focus {
  outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba($darkYellow, .8) !important;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba($darkYellow, .8) !important;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba($darkYellow, .8) !important;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $secondary !important;
    font-style: italic;
}

.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.main-form input.button{
  @include button($secondary, white);
  width:auto;


}

.main-form input.cbp-mc-submit:hover {
  background: $secondary;
}

#nospam, .nospam {
  display:none;
}



.thumbs {
  width:47%;
  margin:1%;
  float:left;
  img {
    width:100%;
  }
}