.mainnav {
	z-index: 1000;
	width:100%;
	padding:2em 0 4em;
	position: fixed;
@include transition(all .5s);
	ul{
		float:right;
		li {
			float:left;
			a {
				padding:1em;
				font-size: 14px;
				color:$primary;
				&:hover {
					color:$secondary;
				}
			}
		}
	}
}
.scroll {
	.mainnav {
		background-color: white;
		padding:1em 0;
	}
}