* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
  @extend %clearfix;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

body {
  padding: 0;
  margin: 0;
}

/* MAIN */

section {
  padding:3em 1em;

}

.wrap {
  max-width: 960px;
  margin:auto;
  &:before, &:after {
    content:"";
    display:table;
  }

  &:after {
    clear:both;
  }

}

.interior {
  .hero {
    padding-top: 10em;
  }


  section {
    border-top: solid 1px $ultralight;
  }
}

.product-nav {
  ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 2em;
  }
  a {
    color:$light;
    &:hover {
      color:$secondary;
    }
    &:before {
      margin-right: 1em;
    }
  }
}

.yellow {
  background-color: $yellow;
  * {
    color:white;
  }
  .main-form {
    input, textarea {
      background-color: white;
    }
    input[type="submit"]{
      background: $secondary;
      border-color: white;
      border:solid 1px white;
      padding:1em 3em;
      height:auto;
      &:hover {
        background: white;
        color:$secondary;
      }
    }
  }
}



.hero {
  padding-top: 10em;
  position: relative;
  text-align: center;
  .row-fluid {
    z-index:10;
    position: relative;
  }
  .background {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-size: auto 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #fafafa;
  visibility:hidden;
  }
  h1 {
    h1 {
      font-size: 20px;
    }
    span {
      color:$blue;
    }
  }
  h3 {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.4;
  }
}

.callouts {
  padding: 0;
  background: #fff url('/resources/img/callouts-bg.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  * {
    @include transition(.3s all);
  }
  .col2 {
    padding:2em;
    margin: 0 !important;
    border-bottom: solid 1px $primary;
    @include rowGrid(1,0);

    span {
      font-weight: 800;
      color:$secondary;
    }
    &:hover {
      background: rgba($secondary, .8);
      h3, p, span {
        color:white;
      }
      .button {
        background-color: white;
        border-color:white;
        color:$secondary;
        &:hover {
          color: white;
          background-color:transparent;
        }
      }
    }
  }
}




.testimonial {
  display: none;
  background-size: cover;
  padding-top:8em;
  padding-bottom:8em;
  .quoteContain {
    width:60%;
    position: relative;
  }
  h2 {
    &:before, &:after {
      color:$blue;
      font-size: 90px;
      display: inline-block;
      position: absolute;
      font-family: helvetica;
      font-weight: 800;
    }
    &:before {
      content:"\201c";
      left:-60px;
    }
    &:after {
      content:"\201d";
      right:-40px;
    }
  }
}

.main-content {
  p {
    span {
      font-weight: 800;
      color:$secondary;
    }
  }
}


/* FOOTER */

footer {
  background: #f2f3f5;
  .main-footer {
    padding:1em 2em;
  }
  .contact-info {
    p, a {
      font-size: 14px;
    }
    p {
      margin: 1em 0 0 ;
    }
  }
  .logo {
    margin-bottom: 1em;
    display: inline-block;
    width:90%;
  }
  [class*="ico"]{
    &:before {
      color:$secondary;

    }
  }
  p, a {
    font-size: 12px;
    color:$light;
  }
  a, a:visited {
    margin-bottom: 0;
    color:$light;
    &:hover {
      color:$secondary;
    }
  }
  * {
    line-height: 1;
  }
  h3 {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 0;
  }
  hr {
    margin: 10px 0;
  }
  ul {
    margin: 0; 
    padding: 0;
    li {
      margin-bottom: 5px;
      
    }
  }
  .bottom-bar {
    background: $secondary;
    display: none;
    .wrap { 
      * {
        line-height: 1;
        margin: 0;
        color:#c09010;
      }
    }
    ul {
      text-align: center;
    }
    li {
      &:first-child {
        padding-left: 0;
        p {
          padding: 16px 0;
        }
      }
      float:left;
      padding:1em 2em;
    }
  }
}

/* BUTTONS */

.button {
  @include button($secondary, white);
  border:solid 1px $secondary;
  &:visited, &.active {
    color:white;
  }
  &:hover{
    background-color: transparent;
    color:$secondary;
  }
}

.button.blue {
  @include button($blue, white);
  border:solid 1px $blue;

  &:hover{
    background-color: transparent;
    color:$blue;
  }
}

[class*="ico"]{
  &:before {
    margin-right: 5px;
  }
}


.interior {
  .content {
    background-position: top left;
    background-repeat: no-repeat;
  }
}

.benefits {
  background-image: url('/resources/img/leaf-bg.png');
}

.reports {
  background-image: url('/resources/img/paper-bg.png');
  text-align: center;
  ul {
    list-style: none;
    margin:2em 0;
    padding: 0;
    li {
      width:100%;
      margin-bottom: 1em;
      float:left;
      position: relative;

      a {
        padding:10em 3em;
        display: inline-block;
        width:100%;
        position: relative;
        z-index: 10;
        background: transparent url('/resources/img/reports-bg.png') no-repeat center;
        background-size: 70%;
      }
      .overlay {
        position: absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        display:none;
        z-index: 12;
        background:rgba(white, .8);
        span {
            position: absolute;
            top: 50%;
            font-size: 60px;
            left: 50%;
            margin-left: -8%;
            margin-top: -8%;
            color:$secondary;
        }
      }
      @include transition(.3s all);
      
    }
  }
}


.demo {
  background-image: url('/resources/img/cog-bg.png');
}


.col2 {
  @include rowGrid(2, 2%);
  float: left;
}
