body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 100;
  line-height: 1;
  font-size: 60px;

}

h3, h2 {
  font-weight: 100;
}
h3 {
  font-size: 30px;
}

/* PARAGRAPH */

p, li {
  font-family: $body;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$primary;
}

a {
  &, &:visited, &:active {
    color:$secondary;
  }
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.main-content {
  ul {
    padding: 0 0 0 30px;
    list-style: disc;
  }
}