// COLOR PALETTE
$yellow: #fcc42e;
$blue: #40baf1;
$darkYellow:#967723;

$primary: #5f5f5f;
$secondary:$yellow;
$light: #949393;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #d2d2d2;


// FONT STACKS
$heading: 'Roboto Slab', serif;
$body: 'Open Sans', sans-serif;
